@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    
}
header, .container{
    margin: 50px;
}


/* style container */
img{
    width: 429px;
    height: 163px;
    
}
.flotter{
    position: absolute; 
    top: 232px;
    left: 34%; 
    margin-left: -125px;
    
}
.container{
    margin: 239px 100px;
}

#l { 
    width: 34%; 
    float: left;
    font-size: 30px; 
}
#r { 
    float: right; 
    width: 43%;
    margin: -46px 0px;
    font-size: 30px;
}
#l:before { 
    content: ""; 
    width: 125px; 
    height: 250px; 
    float: right; 
    
}
#r:before{
    content: "";
    height: 250px; 
    float: left; 
}
/* fin style container */

#btn1{
    width: 27%;
    padding: 27px;
    border-radius: 100px;
    color: grey;
    background: none;
    font-size: 20px;
    border: 1px solid;
    text-align: center;
    margin: 27px auto;
}
#btn1 a{
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    color: black;
}

#btn1:hover {
    
    background: grey;
    color: white;
} 
.clear{
    clear: both;
}

/* debut footer */
.social-footer {
    background: #8a8a8a;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  ul.menu.simple{
    padding-bottom: 15px;
  }
  
  .social-footer .social-footer-icons .fa {
    font-size: 30px;
    color: black;
    margin: 20px;
  }
  .social-footer-left{
      margin-left: 20px;
      margin-top: 60px;
  }
  
  .social-footer .social-footer-icons .fa:hover {
    color: white;
    transition: color 0.3s ease-in;
  }
/* fin style container */

  
  
/* style navbar   */
nav{
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: grey;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  border-bottom:1px #000000 solid;
  transition: .5s;
}
a:hover{
  text-decoration: none;
  color: black;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
/* fin style navbar */


/* style responsive navbar */
@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}

/* fin style responsive navbar */

/* style responsive container */
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #000000;
  }
  #check:checked ~ ul{
    left: 0;
    z-index: 9;
  }
}
/* fin style responsive container */

/* style button de navbar */
.btn{
    margin-top: 20px;
    padding: 20px 70px;
    border-radius: 100px;
    color: grey;
    background: none;
    font-size: 20px;
    border: 1px solid;
}
span{
    color: black;
}
/* fin style button de navbar */




/* style footer */
footer{
	position: fixed;
	bottom: 0;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
.footer-distributed{
	background-color: #b5b5b5;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
.footer-distributed .footer-left,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
/* Footer left */

.footer-distributed .footer-left{
	width: 30%;
}

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed .footer-company-name{

	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding-top: 35px;
}
/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
	float: right;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #000000;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
/* fin style footer */



/* style responsive container */
@media (max-width: 880px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
		float: none;
	}
}

.bgBack{
		display: none;
}

@media (max-width: 1219px) {

	.container{
		margin: 60px;
		padding: 0;
	}
	#l,#r{
margin-top: 80px;
		display: block;
		width: 100%;
		text-align: start;
		font-size: 4vw;
	}
	#r{
		text-align: end;
	}
	.flotter{
		display: none;
	}
	.bgBack{
		display: block;
		width: 100%;
		height: auto;
		background-size: cover;
		margin-bottom: 80px;
	}
}
/* fin style responsive container */
